<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity
    Name="886dbb02-b2a0-4f23-8f2b-39b4093091c8"
    Publisher="CN=Nenad"
    Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="886dbb02-b2a0-4f23-8f2b-39b4093091c8" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>FPSimDX</DisplayName>
    <PublisherDisplayName>Nenad</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10240.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="App">
      <uap:VisualElements DisplayName="Simulation by [@.i.]™" Square150x150Logo="Assets\squaretile-sdk.png" Square44x44Logo="Assets\smalltile-sdk.png" Description="A Universal Windows Platform Core Application template, writen in C++/WRT and recreated from Microsoft Windows Samples by Nenad Rakas" BackgroundColor="#464646">
        <uap:DefaultTile Wide310x150Logo="Assets\tile-sdk.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\splash-sdk.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>